.robot-message {
  position: absolute; 
  bottom: 20px; 
  right: 20px; 
  z-index: 9999;
  cursor: pointer;
  top: 90%;
}

.balloon {
  background-color: #60A5FA;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1.5rem;
  text-align: center;
  animation: bounce 0.6s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.robot-icon-message {
  display: flex;
  align-items: center;
  background-color: #60A5FA;
  color: white;
  padding: 1rem;
  border-radius: 20px;
}

.robot-icon {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.message {
  font-size: 1rem;
  color: #333;
}
